body{
    margin: 0;
    background-color: #292f36;
}
header{
    background-color: #292f36;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line img{
    width: 2020px;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    color: #00ffea;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 200px;
}
.nav-links{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-links a{
    color: #cfcfcf;
    text-decoration: none;
    margin-right: 50px;
}
.nav-links .homepage{
    font-size: 1.4em;
}

.nav-links .active{
    color: #00ffea;
    font-size: 1.4em;
}

.search-box{
    position: relative;
}
.search-box input[type="text"]{
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 70px;
    
}
.search-box .search-icon{
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    color: #1e1e1e;
    pointer-events: none;
}
.socials{
    display: flex;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.socials i{
    margin-left: 30px;
}

.socials a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    
}
.socials  .linkedin{
    color: #00ffea;
    margin: 5px;
    font-size: 1.2em;
}
.socials .instagram{
    color: #00ffea;
    margin: 5px;
    font-size: 1.2em;
}
.socials .github{
    color: #00ffea;
    margin: 5px;
    font-size: 1.2em;
}
article{
    text-align: center;
}
article h1{
    color: #00ffea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 30px;
    font-size: 1.9em;
}
article .line-image img{
    width: 720px;
    margin-right: -25px;
}
.tag{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 15px;
    margin-left: 650px;
    font-size: em;
    width: 720px;
    height: 32px;
    padding: 0px 24px 0px 24px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    font-size: 1.1em;
}
.tag .text{
    color: #fff;
    margin: 7px;
}
.tag .date{
    color: #fff;
    margin: 7px;
}
.tag .read{
    color: #fff;
    margin: 7px;
}
.tag .tags{
    color: #cfcfcf;
}
.tag .share{
    margin-left: 220px;
}
.blog-image img{
    width: 720px;
    height: 400px;
    gap: 0px;
    opacity: 0px;
    margin-right: -28px;
}
.line-image img{
    width: 720px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 0.9px solid #43454D
}
p{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    align-items: center;
    margin-left: 675px;
    margin-top: 20px;
    font-size: 1.02em;
}
h2{
    color: #00ffea;
    text-align: left;
    margin-left: 675px;
    margin-top: 50px;
}
.topic{
    margin-top: 70px;
    margin-left: 40px;
}
.topic .tagweb{
    background-color: #444;
    padding: 5px;
    border-radius: 15px;
    color: #bbb;
    font-size: 0.9em;
    margin: 170px;
    margin-left:-140px;
    cursor: pointer;
}
.buttons{
    display: inline-block;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.buttons .sub{
    background-color: transparent;
    border: 2px solid #00ffea;
    color: #fff;
    padding: 18px 35px 18px 35px;
    border-radius: 42px;
    text-decoration: none;
    width: 162px;
    font-size: 1.2em;
    margin-bottom: 40px;
}
 .blogs{
    padding: 50px;
    text-align: center;
    top: 120px;
    background-color: #292f36;
    height: 2280px;
}
.header h2{
    color: #00ffea;
    font-size: 4.0em;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 50px;
}
.straightline img{
    width: 1050px;
}
.blog-post img{
    width: 240px;
    height: 240px;
    gap: 0px;
    opacity: 0px;
    left: 500px;
    position: absolute;
    margin-top: -15px;
}
.blog-content{
    text-align: left;
    margin-left: 320px;
}
.blog-content h3{
    color: #00ffea;
    font-size: 2.2em;
    margin-bottom: 10px;
    margin-left: 460px;
    width: 720px;
    height: 36px;
    gap: 0px;
    opacity: 0px;

}
.blog-content .aboutwebdev{
    color: #bbb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    font-size: 1.0em;
    margin-left: 460px;
    width: 720px;
    height: 36px;
    gap: 0px;
    opacity: 0px;

}
.blog-content a{
    color: #00ffea;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    margin-left: 460px;
    margin-top: 25px;

}
.abs{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
    margin-left: 460px;
}
.abs .abweb{
    background-color: #444;
    padding: 5px;
    border-radius: 5px;
    color: #bbb;
    font-size: 0.9em;
}
 .abs .ab{
    font-size: 0.9em;
    color: #bbb;
} 
.ab{
    margin-top: 3px;
}
.abs .name{
    color: #fff;
    margin: 10px;
    font-size: 1.0em;
}
.abs .day{
    color: #fff;
    margin: 10px;
}
.abs .time{
    color: #fff;
    margin: 10px;
} 


/*FOOTER STYLING*/
.footer{
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 150px;
}  
.footerline img{
    width: 1368px;
}
.footer-container{
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.footer p{
    margin: 5px 0;
    right: 100px;
}  
.footer-links{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 75px;
    font-size: 1.2em;
}
.footer-links li{
    display: inline;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
}
.footer-icons{
    display:flex ;
    gap: 25px;
}
.footer-icons a{
    color: black;
    font-size: 1.0em;
    align-items: center;
    text-decoration: none;
    position: relative;
    justify-content: center;
    margin-left: 20px;
}
.footer-icons i{
    width: 10px;
    height: 10px;
    background-color: #00ffea;
    border: none;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.9em;
    text-decoration: none;
    margin-bottom: 20px;
    bottom: 20px;
}
.footer-design{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.footer-design .me{
    color: #00ffea;
} 


/*MOBILE PHONE STYLING*/
@media only screen and (max-width: 390px) {
    body{
        font-size: 0.92em;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        margin-left: -200px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .logo{
        margin-right: 50px;
         font-size: 1.4em; 
    }
    .nav-links {
        flex-direction: row;
        margin-left: 40px;
    }
    .search-box{
        position: relative;
    }
    .search-box input[type="text"]{
        display: none;
    }
    .search-icon{
        font-size: 1.9em;
        left: -20px;
    }
    .search-box .search-icon{
        color: white;
    }
    .socials a{
        display: none;
    }
    .line img{
        width: 360px;
        margin-left: 9px;
    }
    
    article{
        text-align: left;
        margin-left: 40px;
    }
    article h1{
        width: 320px;
        height: 108px;
        gap: 0px;
        opacity: 0px;
        font-size: 1.9em;
    }
    article .line-image img{
        width: 342px;
        height: 0px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-left: -20px;
    }
    .tag{
        display: inline;
        width: 342px;
        height: 16px;
        padding: 0px 24px 0px 24px;
        gap: 0px;
        justify-content: space-between;
        opacity: 0px;
        font-size: 1.0em;
    }
    .tag a{
        display: none;
    }
    .tag .text{
        margin-left: -670px;
    }
    .blog-image img{
        width: 322px;
        height: 295px;
        gap: 0px;
        opacity: 0px;
        margin-left: -22Px;
    }
    p{
        width: 320px;
        height: 2,560px;
        gap: 0px;
        opacity: 0px;
        margin-left: -17px;
        margin-top: 40px;
    }
     h2{
        width: 320px;
        height: 25px;
        gap: 0px;
        opacity: 0px;
        margin-left: -15px;
    }
     .topic{
         width: 442px;
        height: 72px; 
        gap: 24px;
        opacity: 0px;
        margin-left: 120px; 
        position: relative;
    } 
    .topic .dev{
        left: 2px;
        position: absolute;
        bottom: -170px;
    }
    .header h2{
         width: 342px;
        height: 26px;
        gap: 64px;
        opacity: 0px;
        margin-bottom: -20px; 
        font-size: 1.9em;
    }
    .buttons{
            margin-left: 39px;
    }
    .straightline img{
        width: 360px;
        margin-left: -30px;
    }
    .blog-post img{
        width: 120px;
        height: 120px;
        gap: 0px;
        opacity: 0px;
        left: 10px;
        position: relative;
        margin-top: 10px;
        
    }
    .blog-content{
        text-align: left;
        margin-left: -450px;
    }
    .blog-content h3{
        color: #00ffea;
         font-size: 2.1em;
        margin-bottom: 10px;
        margin-left: 460px;
        width: 312px;
        height: 108px;
        gap: 0px;
        opacity: 0px; 
    }
    .blog-content .aboutwebdev{
        width: 312px;
        height: 108px;
        gap: 0px;
        opacity: 0px;

    }
    .blog-content a{
            width: 78px;
            height: 22px;
            gap: 4px;
            opacity: 0px;
            margin-left: 460px;
            bottom: -5px; 
    }
    .blog-content .readmore{
        position: relative;
        text-align: left;
        width: 78px;
        height: 22px;
        gap: 4px;
        opacity: 0px;
    }  
    .curveline{
        width: 19px;
        height: 18px;
        gap: 0px;
        opacity: 0px;
        position: absolute;
        padding-left: 5px;
    }
    .abs{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 30px;
        margin-left: 460px;
        width: 280px;
        height: 16px;
        gap: 8px;
        opacity: 0px;
    }
    .abs .abbss{
        width: 401px;
         height: 24px;
        gap: px;
        opacity: 0px;
        margin-top: 10px; 
        margin: 5px 0;
        margin-left: -40px;
    }
    .footer-icons{
        width: 160px;
        height: 32px;
        gap: 32px;
        opacity: 0px;
        margin-left: -330px;
        margin-bottom: 180px;
    }
    .footer-icons i{
        width: 3px;
        height: 3px;
    }
    .footer-icons a{
        font-size: 0.9em;
    }
    .footer-text{
        width: 291px;
        height: 18px;
        gap: 0px;
        opacity: 0px; 
        font-size: 0.9em; 
        margin-bottom: 50px; 
    }
    .footer-links{
        width: 291px;
        height: 18px;
        gap: 0px;
        opacity: 0px;
        margin-top: 35px;
        margin-left: -330px; 
        margin-top: 60px;
        gap: 30px;
        font-size: 0.9em;
    }
    .footer-design{
        width: 291px;
        height: 18px;
        gap: 0px;
        opacity: 0px;
        margin-bottom: 75px;
        margin-left: -210px; 
        margin-top: 170px;   
        font-size: 0.9em;
    }
    .footer-sectiondesign{
        margin-top: 135px;
        margin-left: -120px;
    } 
    .footerline img{
        width: 360px;
        margin-left: -30px;
    }
    
}

    
